.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  
}

.card {
  margin: 0 2% !important;
}

.imp {
  box-shadow: 3px 5px 16px 2px rgba(0,0,0,0.2), 
  0px 1px 1px 0px rgba(0,0,0,0.14), 
  0px 1px 3px 0px rgba(0,0,0,0.12) !important;
}

.infected {
  border-bottom: 10px solid #061fa7cf;
}

.recovered{
  border-bottom: 10px solid rgba(1, 255, 1);
}

.deaths{
  border-bottom: 10px solid rgba(255, 0, 0);
}

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}