#Navbar {
    background-color: black;
    box-shadow: 2px 0 2px #9a9898;
}

.img {
    height: 8vmin;
  pointer-events: none;
}

.mr-auto .navbar-nav {
    font-size: 1em !important;
}

.navbar-brand {
    padding-top: 0px;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: rgb(255, 217, 0);
}

.navbar-dark .navbar-nav .nav-link  {
    color: white;
}

.navbar-dark .navbar-toggler-icon {
    color: red;
}

.navbar-toggler {    
    background-color: #212529;
}

.navbar-dark .navbar-nav .nav-link:hover { 
    color: white; 
}