.remedies {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.Home {
    width: 370px;
    margin-top: 2px;
    margin-bottom: 12px;
    vertical-align: middle;
    border-style: none;
}